
html {
    font-size: 10px;
    font-family: 'open sans', sans-serif;
  }
body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

  
h1 {
    font-size: 40px;
    text-align: center;
  }
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
 
 body {
     font-family: Arial, sans-serif;
     margin: 20;
     padding: 20px;
     text-align: center;
     background-color: #ffffffee;
 }

        h2 {
            color: #c21a1a;
        }

        form {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.945);
            border-radius: 10px;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
        }

        label, input, textarea {
            display: block;
            width: 95%;
            margin-bottom: 10px;
            font-size: 16px;
        }

        input, textarea {
            padding: 6px;
            border: 1px solid #000000;
            border-radius: px;
        }

        button {
            background-color: #0000009d;
            padding: 10px;
            border: none;
            border-radius: 5px;
            
        }

        button:hover {
            background-color: #000000;
        }

        /* Estilos para el footer */
        footer {
            margin-top: 20px;
            padding: 10px;
            background-color: #423a3a;
            color: white;
            text-align: center;
        }
    